user=postgres
pin=your_password
host=127.0.0.1
port=5432
db_name=project_database

#with the above values, the DATABASE_URL made is as below shown:
DATABASE_URL=postgresql+psycopg2://postgres:password@127.0.0.1:5432/project_database

#edit the url with your database credentials, copy and add it to .env file

#Enter your secret key below, copy and add it to .env file
SECRET_KEY=your_secret_key
ALGORITHM=HS256